/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*/



nav {
  display: flex;
  border: 1px solid salmon;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 10vh;
  padding: 2rem;
  color: white;
  background-color: rgb(157, 5, 5);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* border-radius: 30px; */
}

nav img {
  margin-right: 10px;
}

nav h1 {
  margin: 0;
}

/* .main-content-cards {
  padding: 20px;
} */
